# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec.bak
*.spec.tmp

# Entorno virtual
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs y temporales
logs/
*.log
.cache/
*.tmp
*.temp
temp_vault.yml
.cursor/

# Archivos de Ansible
*.retry
.vault_pass

# Archivos compilados
*.exe
dist/
build/

# Reportes generados
reports/

# Archivos de sistema
.DS_Store
Thumbs.db
